.message-box {
    display: flex;
    align-items: end;
    gap: 6px;

    .none {
        display: none;
    }

    .user-img {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222127;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
    }

    &__container {
        display: inline-flex;
        flex-direction: column;
        gap: 4px;
    }
}

.self-box {
    justify-content: end;
}