.self {
    background-color: #7269EF;
    color: #fff;
}

.other {
    background-color: #f2f2f2;
}

.message-container {
    padding: 4px;
    border-radius: 25px;
    width: fit-content;
    padding: 4px 12px;
    // text-align: center;
}